@import url('https://fonts.googleapis.com/css2?family=Zen+Loop:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

*,*::after,*::before{
    box-sizing:border-box;
}

:root{
    --cell-size:200px;
    --mark-size:calc(var(--cell-size)* 0.9);
}
body{
    margin:0;
    background-color: #2C363F;
    font-family: 'Zen Loop', cursive;
    overflow: hidden;
}

.heading{
    display: flex;
    justify-content: center;
    font-size: 5rem;
    color:#c8f6ff;
    margin-top: 20px;
}

.turn{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color:#F2F5EA;
    margin-top: 20px;
    font-family: 'Teko', sans-serif;
}

.board{
    padding:0px;
    margin: 0px;
    height: 70vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3,auto);
}
.cell{
    box-shadow: 0px 0px 10px #c8f6ff;
    border-radius: 20px;
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: #F2F5EA;
    border: 2px solid #2C363F;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;

}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;
}
.cell:nth(3n+1){
    border-left: none;
}

.cell:nth(3n+3){
    border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(9){
    border-bottom: none;
}

.cell.circle,.cell.x{
    cursor: not-allowed;
}
.cell.x::before,
.cell.x::after{
    background-color: #E75A7C;
}

.cell.circle::before,
.cell.circle::after{
    background-color: #E75A7C;
}


.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after{
    background-color: #f298ad;
}

.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after{
    background-color: #f298ad;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after{
    content: '';
    position: absolute;
    width: calc(var(--mark-size)* .15);
    height: var(--mark-size);
    
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before{
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after{
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after{
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before{
    width: calc(var(--mark-size) * .9);
    height: calc(var(--mark-size) * .9);
    
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after{
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: #F2F5EA;
}

.winning-message{
    display:none;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    color: #c8f6ff;
    font-size: 5rem;
    flex-direction: column;

}
.winning-message button{
    font-size: 3rem;
    border: 2px solid #c8f6ff;
    border-radius: 30px;
    color: #c8f6ff;
    background-color: #2C363F;
    font-family: 'Zen Loop', cursive;
    cursor:pointer;
    padding: 20px;
}
.winning-message button:hover{
    border: 2px solid #2C363F;
    color: #2C363F;
    background-color: #c8f6ff;
}

.winning-message.show{
    display: flex;
}